[user]
	email = flzroche@gmail.com
	name = flzroche
[ghq]
  root = "$GITDIR"

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[http]
	postBuffer = 524288000
