layout {
    tab name="開発" focus=true { // children=true は不要かもしれません
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="horizontal" {
            pane size="75%" split_direction="vertical" {
                //左ペイン
                pane size="70%" {
                    name "Editor"
                    command "zsh"
                    args "-c" "cd /Users/roche/DEVELOPMENT/Projects/ && exec zsh"
                } // paneを閉じる
                //右ペイン
                pane size="30%" {
                    name "GeminiCli"
                    // こちらのpaneの定義が不完全だったため修正しました
                }
            }
        
            pane size="25%" split_direction="vertical" {
                    pane size="40%" {
                      name "Project Directory"
                      command "zsh"
                      args "-c" "cd /Users/roche/DEVELOPMENT/Projects/ && exec zsh"
                    }
                    pane size="40%"{
                      name "HOME"
                    }
                    pane size="20%"{
                      name "LocalServer"
                      command "zsh"
                      args "-c" "cd /Users/roche/DEVELOPMENT/Projects/ && exec zsh"
                    }
                    
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
